body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
  }

.header, .footer, .top-body {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: 100;
}

#header-logo {
    font-size: 18px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0px 8px;
}

img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.top-body {
    display: flex;
    padding: 20px;
}

#website-title {
    font-size: 48px;
    font-weight:700;
}

#website-description {
    font-size: 18px;
    font-weight: 100;
    margin: 8px 0px;
}

.button {
    background-color: #3882f6;
    width: 60px;
    height: auto;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: white;
}

#body-cards-title {
    font-weight: bolder;
    font-size: 36px;
    margin: 10px;
}

.body-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards, .card-description {
    display: flex;
    flex-direction: row;
}

.card {
    height: 132px;
    width: 100px;
    background-color: white;
    margin: 20px 20px 0px 20px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: #3882f6;
    border-radius: 10px;
}
 img {
     width: 96px;
     height: auto;
 }
.card-descriptions {
    margin: 0px 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}

.body-quote {
    background-color: #e5e7eb;
    /* how do I make the height of this section the same height as the cards section? */
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
}

 #quote-author {
    font-weight: 700;
 }

.body-bottom {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    margin: 40px 80px;
    border-radius: 10px;
    color: white;
}

#call-to-action {
    font-weight: 600;
    font-size: 18px;
}

.footer {
    text-align: center;
    padding: 8px;
}